.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 19, 55);

    padding: 30px;
    height: 50px;
}

.container .navigation {
    display: flex;
    gap: 20px;
}

.container a:-webkit-any-link{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

a:-webkit-any-link:hover{
    text-decoration: underline;
}

