version: '3.8'

services:
  cms:
    image: php:8.2-apache
    ports:
      - "8000:8000"
    volumes:
      - .:/CMS
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: CMS
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
